@import "print";

.flex-container {
    display: flex; 
    width: 98%;
    margin : 0 auto;
}

.flex-container > div{
    height: 80px;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
}

.flex-item1 {
    width: 47%;
    border-right: 1px solid black;
}

.flex-item2 {
    width: 6%;
}

.flex-item3 {
    width: 47%;
    border-left: 1px solid black;
}

.header {
    padding: 15px;
    margin-left: 53%;
    margin-top: 25%;
    width: 365px;
}

.header > table {
    border: 1px solid black;
    width: 368px;
    height: 60px;
}

.bottom_line {
    border-bottom: 1px solid black;
}

.float-left {
    float: left;   
}


table {
    border-collapse: collapse;
    width: 100%;
    height: 200px;
}


td {
    height: 20px;
    width: 30px;
}

.data {
    width: 30%;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    width: 140px;
    height: 100px;
}

