@import "print";

.border{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.mt-1{
    margin-top: 6px;
    margin-right: 5px;
}
.table{
    margin:0 auto;
}
.bottom-line2{
    border-bottom: 1px solid black;
    width: 95%;
    margin-left: 10px;
}
